@import play.twirl.api.Html
@import views.html.main

@main("Homepage"){
    <footer> 
    <h1>Welcome to 69 Mobiles </h1>
    </footer>
    <p>
        <span style="font-weight: bold; color: #ff5733;">
            69 Mobiles, your one-stop destination for the latest and greatest in mobile technology.
        </span></p>
        
    <p  style=font-weight:bold; >
        We offer a wide range of mobile phones and accessories to meet your every need. Our mission is to provide you with high-quality products and exceptional service, ensuring you have the best shopping experience possible.
    </p>
    <footer>
        &copy;OUR PRODUCTS
    </footer>

     <!-- Product Section 1 -->
<section class="product">
   
  
    <!-- Example: Adding an image from an online source -->
   
      <img src="https://source.unsplash.com/200x200/?iphone" class="d-block w-20" alt="apple iphone">
      

    <p>Price: ₹11999.00</p>
    <p>APPLE Mobiles</p>
   
    <a href="https://www.apple.com/in/shop/buy-iphone/iphone-15/6.1-inch-display-128gb-black?afid=p238%7CsdoiNjelq-dc_mtid_187079nc38483_pcrid_674224198473_pgrid_153710578059_pntwk_g_pchan_local_pexid__&cid=aos-IN-kwgo-pla-iphone_lia--slid---product-MTP03HN%2FA-IN">
        <button>BUY NOW</button>
    </a>

    <button>Add to Cart</button>
</section>

   <!-- Product Section 2 -->
   <section class="product">
    
  
    <!-- Example: Adding an image from an online source -->
   
      <img src="https://source.unsplash.com/200x200/?samsung" class="d-block w-20" alt="samsung">
      

    <p>Price: ₹4999.00</p>
    <p>SAMSUNG Mobiles</p>
    <a href="https://www.samsung.com/in/?msclkid=939c2e4998541fc8097e4b6cb2dba23d">
    <button>BUY NOW</button>
</a>
    <button>Add to Cart</button>
</section>
 
  <!-- Product Section 3 -->
  <section class="product">
    
  
    <!-- Example: Adding an image from an online source -->
   
      <img src="https://source.unsplash.com/200x200/?oppo" class="d-block w-20" alt="oppo">
      

    <p>Price: ₹1999.00</p>
    <p>OPPO Mobiles</p>
    <a href="">
    <button>BUY NOW</button>
</a>
    <button>Add to Cart</button>
</section>

 <!-- Product Section 4 -->
 <section class="product">
    
  
    <!-- Example: Adding an image from an online source -->
   
      <img src="https://source.unsplash.com/200x200/?Lava" class="d-block w-20" alt="lava">
      

    <p>Price: ₹1999.00</p>
    <p>LAVA Mobiles</p>
    <a href="">
    <button>BUY NOW</button>
</a>
    <button>Add to Cart</button>
</section>

 <!-- Product Section 5 -->
 <section class="product">
    
  
    <!-- Example: Adding an image from an online source -->
   
      <img src="https://source.unsplash.com/200x200/?Nokia" class="d-block w-20" alt="nokia">
      

    <p>Price: ₹1999.00</p>
    <p>NOKIA Mobiles</p>
    <a href="">
    <button>BUY NOW</button>
</a>
    <button>Add to Cart</button>
</section>

 <!-- Product Section 6 -->
 <section class="product">
    
  
    <!-- Example: Adding an image from an online source -->
   
      <img src="https://source.unsplash.com/200x200/?blackberry" class="d-block w-20" alt="blackberry">
      

    <p>Price: ₹1999.00</p>
    <p>BLACKBERRY Mobiles</p>
    <a href="">
    <button>BUY NOW</button>
</a>
    <button>Add to Cart</button>
</section>
    
    <footer>
    <h2 style="color: rgb(230, 215, 215);" >Shop with Confidence</h2>
    </footer>
    <p>At 69 Mobiles, your satisfaction is our priority. We offer secure and convenient online shopping, backed by reliable customer support. Feel free to explore our product range, read reviews, and place your order with confidence. Join the 69 Mobiles family and experience a new era of mobile shopping!</p>
    

    <footer>
        &copy; 2023 Harsh Kaushik
    </footer>
   
    
}
