@*
* this template takes a single argument, a string contaning a 
*message to display.
*@

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device=width, initial-scale=1.0">
        <meta http-equiv="X-UA-compatiable" content="ie=edge">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/styles.css")">
        <title>About Us</title>
<style>
        /* Position the navigation links */
        ul.nav-links {
            text-align: left; /* Align links to the left */
            margin-top: 10px; /* Add spacing below the header */
        }
    
        li.nav-item {
            display: inline-block;
            margin-left: 20px; /* Add spacing between links */
        }
    </style>
    </head>
    <body>
        <header>
      
            <nav>
                <ul class="nav-links">
                    <li><a href="/"> &#8962;HOME</a></li>
                    <li><a href="/products">  &#128241;PRODUCTS</a></li>
                    <li><a href="/login"> 🔐LOGIN </a></li>
                    <li><a href="/about">  &#128218;ABOUT</a></li>
                </ul>
            </nav>
        </header>

        <h1>WELCOME TO YOUR CART PAGE</h1>
      
        <footer>
            &copy; 2023 Harsh Kaushik
        </footer>
    </body>

</html> 